html {
}

::selection {
  background: var(--color-selection-highlight);
}

body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  line-height: 1.6;
  font-size: 1.125rem;
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  transition: background 0.25s ease-in-out;
}

body[data-theme="light"] {
  --color-text-primary: #263238;
  --color-text-bold: #008000;
  --color-text-link: #9400d3;
  --color-selection-highlight: #ffd700;
  --color-bg-primary: #cfd8dc;
  --color-bg-toggle: linear-gradient(#87ceeb, #457fca);
}

body[data-theme="dark"] {
  --color-text-primary: #cfd8dc;
  --color-text-bold: #ff8c00;
  --color-text-link: #ffd700;
  --color-selection-highlight: #9400d3;
  --color-bg-primary: #263238;
  --color-bg-toggle: linear-gradient(#804e9c, #6f99a8);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--color-text-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

b {
  color: var(--color-text-bold);
}

img {
  max-width: 100%;
  display: block;
}
